mixin sourcers(imgSet, widths)
	- var i = 0;
	each val in imgSet
		source(type="image/webp" media=`(min-width: ${widths[i]})` srcset=`${val}`)
		- i++;
		if i > 2 
			- i = 0;

mixin image_one(imgSet)
	source(type="image/webp" srcset=`${imgSet[0]}, ${imgSet[1]}`)
	source(srcset=`${imgSet[2]}, ${imgSet[3]}`)