- 
	var imgSet_indexcan = [
		"img/index-can-desktop@2x.webp 2x, img/index-can-desktop@1x.webp 1x",
		"img/index-can-tablet@2x.webp 2x, img/index-can-tablet@1x.webp 1x",
		"img/index-can-mobile@2x.webp 2x, img/index-can-mobile@1x.webp 1x",
		"img/index-can-desktop@2x.png 2x, img/index-can-desktop@1x.png 1x",
		"img/index-can-tablet@2x.png 2x, img/index-can-tablet@1x.png 1x",
		"img/index-can-mobile@2x.png 2x, img/index-can-mobile@1x.png 1x"
	];

header.main-header
	a(href="#").site-list__item-link 
		.main-header__logos
			img.logo-icon(src="img/icon-logo-mobile.svg" width="100px" height="100px")
			img.logo-icon(src="img/logo-mobile-header.svg" width="100px" height="100px")

	section.main-header__nav
		nav.main-nav.main-nav--closed.main-nav--nojs
			button.main-nav__toggle
				span.visually-hidden Открыть меню
			ul.main-nav__list.site-list
				li.site-list__item
					a(href="#").site-list__item-link Главная
				li.site-list__item
					a(href="#").site-list__item-link Каталог продукции
				li.site-list__item
					a(href="#").site-list__item-link Подбор программы
	.main-header__wrapper
		section.main-header__under
			h1 Функциональное питание для котов
			p Занялся собой? Займись котом!
			button.main-header__button Подобрать программу
		section.main-header__over
			picture
				+sourcers(imgSet_indexcan, mediaWidths)
				img(src="img/index-can-desktop@1x.png" alt="Рисунок: банка корма")
			//-picture

				source(type="image/webp" media=`(min-width: ${mediaWidthLaptop})` srcset="img/index-can-desktop@2x.webp 2x, img/index-can-desktop@1x.webp 1x")
				source(type="image/webp" media=`(min-width: ${mediaWidthTablet})` srcset="img/index-can-tablet@2x.webp 2x, img/index-can-tablet@1x.webp 1x")
				source(type="image/webp" media=`(min-width: ${mediaWidthMobile})` srcset="img/index-can-mobile@2x.webp 2x, img/index-can-mobile@1x.webp 1x")

				source(media=`(min-width: ${mediaWidthLaptop})` srcset="img/index-can-desktop@2x.png 2x, img/index-can-desktop@1x.png 1x")
				source(media=`(min-width: ${mediaWidthTablet})` srcset="img/index-can-tablet@2x.png 2x, img/index-can-tablet@1x.png 1x")
				source(media=`(min-width: ${mediaWidthMobile})` srcset="img/index-can-mobile@2x.png 2x, img/index-can-mobile@1x.png 1x")
				

				img(src="img/index-can-desktop@1x.png")